{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": "3.24.0"
            }
        ],
        ["@babel/preset-react", { "runtime": "automatic" }]
    ],
    "plugins": [
        [
            "@genx/babel-plugin-transform-stylex",
            {
                "inject": true,
                "enableLogging": false,
                "useAll": true
            }
        ]
    ],
    "minified": true,
    "comments": false
}
